.upload {
    text-align: center;
}
.upload-box {
    outline: dashed 1px;
    background-color: rgb(242, 242, 242);
    width: 33vw;
    height: 20vw;
    margin: 0 auto;
    position: relative;
}
.upload-box-contents {
    position: absolute;
    margin: auto;
    width: 30vw;
    height: 160px;
    inset: 0;
}

.upload-submit {
    margin-top: 1rem;
}
