/* common */
.menu-title {
    margin: 1.5em 0;
    font-size: 1.2rem;
}

/* usrList */
.register {
    text-align: right;
    margin-bottom: 1rem;
}
.register a{
    color: #fff;
    background-color: #f67f29;
    padding: 0.5rem;
    border-radius: 10px;
}
.register a:hover {
    color: #fff;
    background: #f77112;
}
.menu-title {
    text-align: center;
}
.contents {
    padding: 0 2rem;
}

/* upload */
.upload {
    text-align: center;
}
#upload-box {
    outline: dashed 1px;
    background-color: rgb(242, 242, 242);
    width: 33vw;
    height: 20vw;
    margin: 0 auto;
    position: relative;
}
#upload-box-contents {
    position: absolute;
    margin: auto;
    width: 30vw;
    height: 160px;
    inset: 0;
}
.upload-submit {
    margin-top: 1rem;
}
