body { 
    padding-top: 5.5rem; 
  }

/* usrList */
.contents {
    margin: 0 5rem !important;
}
#register-btn {
    background-color: #f88901 !important;
    color: white;
}
#register-btn:hover {
    background-color: #ea8406 !important;
}

/* register */
.container {
    max-width: 900px !important;
}
.select-width {
    width: 120px !important;
}
.theme-color {
    background-color: rgb(35, 35, 58) !important;
}
#dialog{
    border: 1px solid;
    border-radius: 5px;
    margin: auto;
}

/* upload */
.upload {
    height: 100% !important;
}
#upload-box {
    outline: dashed 1px;
    background-color: rgb(242, 242, 242);
    height: calc(640px / 1.618);
}
input#file-input {
    padding: auto !important;
}
.upload-form {
    width: 640px;
}

/* lottery*/
#lottery-container {
    max-width: 800px !important;
}

/* my-image-list */
#my-image-list {
    max-width: 800px !important;
}

/* image */
#divImage {
	display: flex !important;
	flex-wrap: wrap; 
    margin: auto !important;
    margin-top: 1.5rem !important;
}
