nav {
    padding: 0.75rem 0 !important;
    background-color: rgb(35, 35, 58) !important;
    margin-bottom: 3rem !important;
}
.navbar-brand {
    font-size: 1.5rem !important;
    color: rgb(232, 234, 216) !important;
    margin-left: 1rem;
}
.nav-link {
    padding: 0 1rem !important;
    vertical-align: middle !important;
}