.title, .login-button {
    text-align: center;
}

/* ログインヘッダー */
body {
    margin: 0;
}
.header {
    background-color: rgb(35, 35, 58);
    text-align: center;
    color: rgb(232, 234, 216)
}
h2 {
    margin: 0;
    padding: 0.4em;
}
/* ログインヘッダー */


table {
    margin: 0 auto;
}
td {
    text-align: right;
}
