{{ template "header" .}}
<div class="contents">
    <div class="menu-title">画像リスト</div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">画像名</th>
            <th scope="col">抽選済み枚数</th>
            <th scope="col">登録日</th>
          </tr>
        </thead>
        <tbody>
          <!-- {{ range .Images }}
          <tr>
            <td>{{  .Filename }}</td>
            <td>_枚</td>
            <td>{{ .UploadDate }}</td>
          </tr>
          {{ end }} -->
          <tr>
            <td>画像1<a class="btn btn-link" href="/image" role="button">表示</a></td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>画像2</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <td>{{ .Images }}</td>
            <td>AAA</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
</div>
{{ template "footer" .}}