{{ template "header" .}}
<div class="container">
    <p class="text-center mt-3">抽選応募</p>
    <form action="/lottery" method="post">
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">抽選画像</label>
            <select class="form-select" aria-label="Default select example" name="imageId">
                <option selected>未選択</option>
                {{ range .Images }}
                <option value="{{ .Id }}">{{ .Filename }}</option>
                {{ end }}
            </select>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">応募口数</label>
            <select class="form-select" aria-label="Default select example" name="units">
                <option selected>未選択</option>
                {{ range $v := .Units}}
                <option value="{{$v}}">{{ $v }}</option>
                {{ end }}
            </select>
          </div>
          <input type="submit" class="btn btn btn-primary" role="button" value="応募">
    </form>
</div>
{{ template "footer" .}}