{{ template "header" .}}
<div class="container">
    <div class="register text-center fs-5">
      <span class="border-bottom border-secondary border-1 p-1">新規登録</span>
    </div>

    <div id="form">
      <label for="" class="form-label mt-3">姓名</label>
      <div class="input-group  mb-3">
        <input type="text" aria-label="Last name" class="required form-control" id="familyNameInput" name="familyName">
        <input type="text" aria-label="First name" class="required form-control" id="firsNameInput" name="firstName">
      </div>
      <div class="mb-3">
        <label for="inputNickname" class="form-label">ニックネーム</label>
        <input type="" class="required form-control" id="inputNickname" name="nickname">
        <p class="text-danger" id="nickname-alert"></p>
      </div>
      <div class="mb-3">
          <label for="inputMail" class="form-label">メールアドレス</label>
          <input type="email" class="required form-control" id="inputMail" name="mail">
          <p class="text-danger" id="mail-alert"></p>
        </div>
        <div class="mb-3">
          <label for="inputCompany" class="form-label">会社名</label>
          <input type="" class="required form-control" id="inputCompany" name="company">
        </div>
        <div class="mb-3">
          <label for="inputPassword" class="form-label">パスワード (保存後は確認できません）</label>
          <input type="" class="required form-control" id="inputPassword" name="password">
        </div>
        <div class="mb-3">
          <label for="selectUserType" class="form-label">権限</label>
          <select class="required form-select select-width" aria-label="Default select example" id="selectUserType" name="table">
              <option selected disabled value="">未選択</option>
              <option value="consumers">利用者</option>
              <option value="sellers">出品者</option>
              <div class="">
                権限を選択してください
              </div>
          </select>
        </div>

        <input type="hidden">

        <label disabled for="inputLotteryUnits" class="form-label">口数設定</label>
        <div class="input-group mb-3">
          <span class="input-group-text">抽選画像</span>
          <select id="image" class="form-select w-50" aria-label="Default select example">
            <option selected></option>
            {{ range .Images }}
            <option value="{{ .Id }}" name="テスト">{{ .FileName }}</option>
            {{ end }}
          </select>
          <span class="input-group-text">口数</span>
          <select id="units" class="form-select" aria-label="Default select example">
            <option selected></option>
            {{ range .Array }}
            <option>{{ . }}</option>
            {{ end }}
          </select>
          <button id="assign-button" type="button" class="btn btn-dark theme-color">設定</button>
        </div>

        <table class="table">
          <tbody id="tbody">
          </tbody>
        </table>
        
        <div class="text-center">
          <button id="save-button" class="btn btn-primary">保存</button>
        </div>
      </div>
    </div>

  <dialog id='dialog'>
    <div class="mb-3">rena.pngの口数を<span id="before"></span> → <span id="after"></span>に変更します。よろしいですか?</div>
    <div class="d-flex justify-content-around m-auto w-50">
      <button type="button mx-1" class="btn btn-secondary btn-sm" id="cancel">キャンセル</button>
      <button type="button mx-1" class="btn btn-primary btn-sm" id="ok">OK</button>
    </div>
  </dialog>

</div>
<script src="/static/js/validate.js"></script>
<script src="/static/js/register.js"></script>
{{ template "footer" .}}