{{ template "header" .}}
    <div class="contents">
        <div class="register text-center fs-5">
          {{ if eq .UserType "admin"}}
          <span class="border-bottom border-secondary border-1 p-1">会員一覧</span>
          {{ else }}
          <span class="border-bottom border-secondary border-1 p-1">利用者一覧</span>
          {{ end }}
        </div>
        <div class="text-end">
          <a id="register-btn" href="/register" class="btn" role="button" id="test">新規登録</a>
        </div>
        <table class="table mb-5">
            <thead>
              <tr>
                <th>利用者</th>
              </tr>
              <tr>
                <th scope="col">姓名</th>
                <th scope="col">ニックネーム</th>
                <th scope="col">メールアドレス</th>
                <th scope="col">会社名</th>
                <th scope="col">保有枚数</th>
                {{ if eq .UserType "admin" }}
                <th scope="col">編集</th>
                {{ end }}
              </tr>
            </thead>
            <tbody>
            {{ if eq .UserType "admin"}}
            
              {{ range .Consumers}}
              <tr>
                <input type="hidden" class="image_id" value="{{.Id}}">
                <td>{{ .FamilyName }} {{ .FirstName }}</td>
                <td>{{ .Nickname }}</td>
                <td>{{ .Mail }}</td>
                <td>{{ .Company }}</td>
                {{ if eq .ImgNum "0" }}
                <td>{{ .ImgNum }}</td>
                {{ else }}
                <td>{{ .ImgNum }}<i class="bi bi-eye-fill fs-5 ps-3" id="{{ .Id }}"></i></td>
                {{ end }}
                <td>
                  <a href="/edit?utype=consumer&id={{ .Id }}" class="editButton consumer" role="button">
                    <i class="bi bi-pencil-square fs-5"></i>
                  </a>
                </td>
              </tr>
              {{ end }}

            {{ else }}

              {{ range .Consumers}}
              <tr>
                <input type="hidden" class="image_id" value="{{.Id}}">
                <td>{{ .FamilyName }} {{ .FirstName }}</td>
                <td>{{ .Nickname }}</td>
                <td>{{ .Mail }}</td>
                <td>{{ .Company }}</td>
                {{ if eq .ImgNum "0" }}
                <td>{{ .ImgNum }}</td>
                {{ else }}
                <td>{{ .ImgNum }}<i class="bi bi-eye-fill fs-5 ps-3" id="{{ .Id }}"></i></td>
                {{ end }}
              </tr>
              {{ end }}

            {{ end }}

            </tbody>
          {{ if eq .UserType "admin"}}
          </table>
          <table class="table" id="seller-table">
            <thead>
              <tr>
                <th>出品者</th>
              </tr>
              <tr>
                <th scope="col">姓名</th>
                <th scope="col">ニックネーム</th>
                <th scope="col">メールアドレス</th>
                <th scope="col">会社名</th>
                <th scope="col">出品枚数</th>
                <th scope="col">編集</th>
              </tr>
            </thead>
            <tbody>
              {{ range .Sellers }}
              <tr>
                <td>{{ .FamilyName }} {{ .FirstName }}</td>
                <td>{{ .Nickname }}</td>
                <td>{{ .Mail }}</td>
                <td>{{ .Company }}</td>
                {{ if eq .UploadNum "0" }}
                <td>{{ .UploadNum }}</td>
                {{ else }}
                <td>{{ .UploadNum }}<i class="bi bi-eye-fill fs-5 ps-3" id="i-{{ .Id }}"></i></td>
                {{ end }}
                <td>
                  <a href="/edit?utype=seller&id={{ .Id }}" class="editButton seller" role="button">
                    <i class="bi bi-pencil-square fs-5"></i>
                  </a></td>
              </tr>
              {{ end }}
            </tbody>
          </table>
          {{ else }}
          {{ end }}
    </div>
    <script src="/static/js/usrList.js"></script>
{{ template "footer" .}}