{{ define "header" }}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/header.css">
    <title>NFT販売</title>
</head>
<body>
    <div class="header">
        <div class="header-contents">
            <span class="nft">
                NFT販売
            </span>
            <span class="title">管理サイト</span>
            <span>
                <ul>
                    <li>会員一覧</li>
                    <li>画像アップロード</li>
                    <li>画像リスト</li>
                </ul>
            </span>
        </div>
    </div>
{{ end }}