<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <title>NFT販売</title>
</head>
<body>
    <div class="header">
        <h2>NFT販売サイト</h2>
    </div>
    <div class="contents">
            <div class="title">
                ログインしてください
            </div>
            <div class="form">
                <form action="">
                    <table>
                        <tr>
                            <td>ID</td><td><input type="text" id="id"></td>
                        </tr>
                        <tr>
                            <td>パスワード</td><td><input type="text" id="password"></td>
                        </tr>
                    </table>
                    <p class="login-button"><input type="submit" value="ログイン"></p>
                </form>
        </div>      
    </div>
</body>
</html>