{{ template "header" .}}
<div class="container">
    <div class="register text-center fs-5">
      <span class="border-bottom border-secondary border-1 p-1">新規登録</span>
    </div>
    <form>
        <label for="" class="form-label mt-3">姓名</label>
        <div class="input-group  mb-3">
          <input type="text" aria-label="Last name" class="form-control" id="lastNameInput">
          <input type="text" aria-label="First name" class="form-control" id="firsNameInput">
        </div>
        <div class="mb-3">
          <label for="inputNickname" class="form-label">ニックネーム</label>
          <input type="" class="form-control" id="inputNickname">
        </div>
        <div class="mb-3">
            <label for="inputMail" class="form-label">メールアドレス</label>
            <input type="mail" class="form-control" id="inputMail">
          </div>
          <div class="mb-3">
            <label for="inputCompany" class="form-label">会社名</label>
            <input type="" class="form-control" id="inputCompany">
          </div>
          <div class="mb-3">
            <label for="inputPassword" class="form-label">パスワード</label>
            <input type="" class="form-control" id="inputPassword">
          </div>
          <div class="mb-3">
            <label for="selectUserType" class="form-label">権限</label>
            <select class="form-select" aria-label="Default select example" id="selectUserType">
                <option selected>未選択</option>
                <option value="2">出品者</option>
                <option value="3">利用者</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="inputLotteryUnits" class="form-label">抽選口数</label>
            <input type="password" class="form-control" id="inputLotteryUnits">
          </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">登録</button>
        </div>
    </form>
  </div>

{{ template "footer" .}}