{{ template "header" .}}
<div class="contents">
    <div class="menu-title">画像アップロード</div>
    <div class="upload">
        <form method="post" enctype="multipart/form-data" action="/imgList">
            <div id="upload-box">
                <div id="upload-box-contents">
                    <p>ここにファイルをドロップ</p>
                    <p>または</p>
                    <input type="file" value="ファイルを選択" name="image" id="file-input">
                </div>
            </div>
            <div class="upload-submit">
                <input type="submit" value="アップロードして分割する">
            </div>
        </form>
    </div>
</div>
{{ template "footer" .}}